.cabecalho
{
    border: 0.15em solid black;
    background-color: white;
    align-items: baseline;
    display: flex;

}

.cabecalho h1
{
    text-align: left;
    padding: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-weight: bold;
    padding-right: 10em;
     font-family: "Google Sans Code", monospace;
     font-size: 3em;
}


.cabecalho p
{
    text-align:right;
    margin:auto;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Google Sans Code", monospace;
    display: block;
    
}

.destaque
{
    border: 0.15em solid black;
    background-color: white;    
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-direction:column; 
    align-items:center; 
     padding: 1em;
      gap: 1em; 
  
   
}

.texto
{
    font-family: "Google Sans Code", monospace;
    font-size: 1.2em;
    text-align: justify;          
    margin: 0;
    display: block;
 
}

.texto2
{
     font-family: "Google Sans Code", monospace;
    text-align: center;
    font-size: 1.1em;
    display: inline;
    margin: 0;

}

img
{
 width: 40%;                   
    height: auto;                 
    object-fit: contain;          
    display: inline;  

}

body
{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Jornal_de_Not%C3%ADcias%2C_Salvador_1892.jpg/800px-Jornal_de_Not%C3%ADcias%2C_Salvador_1892.jpg) center/cover;
    background-color: lightblue;
    padding: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;   
}

section
{
    display: flex;  
    padding: 1em 1em 1em 0em;
}

h2
{
    font-family: "Google Sans Code", monospace;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  

}

header
{
    padding-left: auto;
}


